*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokemon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,270px));
  justify-content: space-around;
  column-gap: 10px;
  row-gap: 15px;
  margin: 20px;
  width: 100%;
}

.pokemon-card {
  border: 1px solid black;
  border-radius: 3px;
  box-shadow: 4px 4px 5px grey;
  cursor: pointer;
  text-align: center;
  width: 70%;
  transition: 200ms ease-in;
}

.pokemon-card > p {
  background-color: lightblue;
  padding: 5px 0 10px 0;
}

.pokemon-card:hover {
  transform: scale(1.04);
}

.pokemon-grid > div > img {
  width: 100px;
}